<!DOCTYPE html>
<html lang="et">
<head>
    <title>Maksa arveid</title>
    <meta charset="UTF-8">
    <meta name="description" content="Bridge">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta name="author" content="Debiilik1, debiilik2, debiilik3">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body>

<div class="header">

    <h1>EESTI TURNIIRIBRIDŽILIIT</h1>

</div>

<script src="../scripts/navBar.js"></script>


<div id="news_and_login">

    <div class="news box">


        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="invoice-title">
                        <h2>Minu arved</h2>
                    </div>
                    <hr>
                    <div class="row">

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Maksmata turniirid</strong></h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <thead>
                                    <tr>
                                        <td><strong>Arve</strong></td>
                                        <td class="text-center"><strong>Hind</strong></td>
                                        <td class="text-center"><strong>Kogus</strong></td>
                                        <td class="text-right"><strong>Vahesumma</strong></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                    <tr>
                                        <td>Tartu lahtised</td>
                                        <td class="text-center">5.00€</td>
                                        <td class="text-center">1</td>
                                        <td class="text-right">5.00€</td>
                                    </tr>
                                    <tr>
                                        <td>Eesti MV 2018</td>
                                        <td class="text-center">10.00€</td>
                                        <td class="text-center">1</td>
                                        <td class="text-right">10.00€</td>
                                    </tr>

                                    <tr>
                                        <td class="thick-line"></td>
                                        <td class="thick-line">
                                        <td class="thick-line"></td>
                                        <td class="thick-line"></td>
                                    </tr>
                                    <tr>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line text-center"><strong>Kogusumma</strong></td>
                                        <td class="no-line text-right">15.00€</td>
                                    </tr>
                                    <tr>
                                        <td class="thick-line"></td>
                                        <td class="thick-line">
                                        <td class="thick-line"></td>
                                        <td class="thick-line"></td>
                                    </tr>
                                    </tbody>

                                </table>
                                <h3>Pangalink siia!</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
