<!DOCTYPE html>
<html lang="et">
<head>
    <title>Lisa uudis</title>
    <meta charset="UTF-8">
    <meta name="description" content="Bridge">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta name="author" content="Debiilik1, debiilik2, debiilik3">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id"
          content="268098409134-dlq9epg36n0img3onf3rhdj9v55190or.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

</head>
<body>

<script src="../scripts/navBar.js"></script>


<form action="/addNews" method="post" enctype="multipart/form-data">
    Pealkiri <input type="text" name="title"><br>
    Uudis <input type="text" name="news"><br>
    Pilt <input type="file" name="picture" accept="image/png, image/jpeg, image/JPG, image/jpg"><br>
    <input type="submit" value="Submit">
</form>



<script src="/socket.io/socket.io.js"></script>
<script src="../scripts/newsListener.js"></script>

</body>
</html>