<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title>Logi sisse</title>
    <meta name="description" content="Bridge">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta name="author" content="Debiilik1, debiilik2, debiilik3">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <script src=../scripts/navBar.js></script>
    <script src="../jquery/jquery1.js"></script>
    <script type="text/javascript" src="../scripts/translate.js"></script>

    <h2 class="lang" key="login">Logi sisse</h2>

    <form method="post">
        <div class="imgcontainer">
            <img src="../images/login_logo.jpg" alt="Avatar" class="avatar">
        </div>

        <div class="container">

            <input type="text" placeholder="Sisesta kasutajanimi" name="username" required>

            <input type="password" placeholder="Sisesta parool" name="password" required>

            <button type="submit">Login</button>


        </div>
    </form>
    <form action="/register">
        <div class="container">
            <button type="submit" class="other-button">Registreeri kasutajaks</button>
        </div>
    </form>


    <a href="/logout">Logi välja!</a>
</body>
</html>