<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">

</head>
<body>
    <script src=../scripts/navBar.js></script>
    <form method="post">
        <input type="text" name="username" placeholder="Kasutajanimi"><br>
        <input type="password" name="password" placeholder="Parool"><br>
        <input type="submit" value="Sisene">
    </form>
    <a href="/register">Registreeri!</a>
    <a href="/logout">Logi välja!</a>
</body>
</html>