<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">

</head>
<body>
    <script src=../scripts/navBar.js></script>
    <form method="post">
        <input type="text" name="username" placeholder="Kasutajanimi" required>
        <input type="password" name="password" placeholder="Parool" required>
        <input type="text" name="firstname" placeholder="Eesnimi" required>
        <input type="text" name="lastname" placeholder="Perenimi" required>
        <input type="submit" value="Registreeru!">
    </form>

</body>
</html>