<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div class="header">

    <h1>EESTI TURNIIRIBRIDŽILIIT</h1>

</div>

<div class="navbar">

    <a href="#calendar">Koduleht</a>
    <a href="#calendar">Isiklikud saavutused</a>
    <a href="#statistics">Eesolevad võistlused</a>

</div>

<div id="news_and_login">

    <div class="login box">

        <h3>Tere, Kasutaja</h3>
        <a href="#minu_turniirid">Loo uus turniir</a>
        <p></p>
        <a href="#minu_arved">Minu arved</a>
        <form>
            <input type="submit" value="Logi välja">
        </form>

    </div>

    <div class = "calendar">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->

        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        <div class="container">
            <div class="row row-striped">
                <div class="col-2 text-right">
                    <h1 class="display-4"><span class="badge badge-secondary">12</span></h1>
                    <h2>OCT</h2>
                </div>
                <div class="col-10">
                    <h3 class="text-uppercase"><strong>Tartu lahtised</strong></h3>
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Reede</li>
                        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 14:30 - 18:00</li>
                        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Liivi 2-111</li>
                    </ul>
                    <p>Pärast täielikult ebaõnnestunud Tallinna etappi on kõik väga elevil, kuidas vastab kriitikutele noor ja uljas Rain Mürkhain.</p>
                </div>
            </div>
            <div class="row row-striped">
                <div class="col-2 text-right">
                    <h1 class="display-4"><span class="badge badge-secondary">27</span></h1>
                    <h2>OCT</h2>
                </div>
                <div class="col-10">
                    <h3 class="text-uppercase"><strong>Eesti meistrivõistlused</strong></h3>
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Laupäev</li>
                        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 14:30 - 18:00</li>
                        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Apollo Solaris Kino</li>
                    </ul>
                    <p>No ikka pasalt kõva andmine tuleb.</p>
                </div>
            </div>
        </div>


    </div>

</body>
</html>
