body {
    padding: 0 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}


#map {
    height: 400px;
    width: 100%;
}

.header {
    background-color: #0072CE;
    padding: 16px 30px;
    font-family: "Poor Richard";
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
    color: #FFFFFF;
}

textarea {
    margin-top: 20px;
}

.news-input-form {
    width: 80%;
}

#navbar  {
    overflow: hidden;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
#navbar a {
    float: left;
    height: max-content;
    text-decoration: none;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;

}

a.lang {
    height: 20px;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.lang{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.right {
    float:right;
}

.dropdown .lang {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


#navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #0072CE;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#navbar .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content  {
    display: block;
}

#news_and_login .box {
    float: left;
    display: inline-block;
}

#news_and_login .news {
    width: 65%;
    text-align: justify;
}

#sisu {
    width: 100%;
    text-align: justify;
    overflow: hidden;
    max-height: 470px;
}

#sisu.open {
    max-height: 3000px;
    /* max-height: 1000*/
}

#naita-koiki {
    background: #0072CE;
    color: #FFFFFF;
    display: block;
    width: 140px;
    height: available;
    text-align: center;
}

#news_and_login .news p {
    margin-right: 1em;
}

#news_and_login .login {
    width: 35%;
    padding: 0 0 2em 0;
}

#news_and_login .login input {
    display: block;
}

#news_and_login .login form {
    width: 80%;
    margin: auto;
}

#news_and_login .login form label {
    display: none;
}

#news_and_login .login form input {
    padding: 1em;
    margin-bottom: 1em;
    width: 80%;
}

#news_and_login .login form input[type="submit"] {
    /* et nupp oleks sama suur */
    box-sizing: content-box;
}

/*
TOOLTIP!
 */

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid transparent;
    border-top-color: #555;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
h1.lang{
    font-size: 30px;
}
h2.lang{
    color: black;
}

/* LOGIN JA REGISREERIMISE LEHT */

form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
    width: 40%;
    padding: 12px 20px;
    margin: 10px auto;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: lightgoldenrodyellow;
    color: black;
    padding: 14px 20px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    cursor: pointer;
    width: 12%;
}

button:hover {
    opacity: 0.8;
    background-color: lightgoldenrodyellow;
    color: #0072CE;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

.other-button {
    background-color: cyan;
}
