body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
    height: 400px;
    width: 100%;
}

.header {
    background-color: #0072CE;
    padding: 16px 30px;
    font-family: "Poor Richard";
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
    color: #FFFFFF;
}

.navbar {
  overflow: hidden;
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #0072CE;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#news_and_login .box {
    float: left;
    display: inline-block;
}

#news_and_login .news {
    width: 75%;
    text-align: justify;
}
#sisu {
    width: 100%;
    text-align: justify;
    overflow: hidden;
    max-height: 470px;
}

#sisu.open{
    max-height: 3000px;
    /* max-height: 1000*/
}

#naita-koiki{
    background: #0072CE;
    color: #FFFFFF;
    display: block;
    width: 140px;
    height: available;
    text-align: center;
}


#news_and_login .news p {
    margin-right: 1em;
}

#news_and_login .login {
    width: 25%;
    background-color: #bdc3c7;
    padding: 0 0 2em 0;
}

#news_and_login .login input {
    display: block;
}

#news_and_login .login form {
     width: 80%;
     margin: auto;
}

#news_and_login .login form label{
    display: none;
}
#news_and_login .login form input{
    padding: 1em;
    margin-bottom: 1em;
    width: 80%;
}

#news_and_login .login form input[type="submit"] {
    /* et nupp oleks sama suur */
    box-sizing: content-box;
}
